@CHARSET "UTF-8";

.error {
    color: #ff0000;
    font-style: italic;
    font-weight: bold;
}

.success {
	color: #55cc33;
    font-style: italic;
    font-weight: bold;
}

.disabled {
	color: #aeaeae;
}

h3.left {
    position: absolute;
    left: 10px;
    top: 0px;
}

h3.right {
    position: absolute;
    right: 10px;
    top: 0px;
}

table {
    border-spacing: 5px;
}

th,td {
    padding: 10px;
}

#sidebar {
  position: fixed;
  top: 40px;
  left: 40px;
  width: 200px;
  border-right:2px solid #aaa;
  
}

hr.style-seven {
    height: 10px;
    border-style: solid;
    border-color: black;
    border-width: 1px 0 0 0;
    border-radius: 20px;
}
 
#content {
  margin: 0 40px 40px 280px;
}