<?xml version="1.0" encoding="UTF-8"?>
<beans:beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xmlns:mvc="http://www.springframework.org/schema/mvc"
  xmlns:context="http://www.springframework.org/schema/context"
  xmlns:tx="http://www.springframework.org/schema/tx"
  xmlns:aop="http://www.springframework.org/schema/aop"
  xmlns:beans="http://www.springframework.org/schema/beans"
  xsi:schemaLocation="http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc-4.1.xsd        
        http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-4.1.xsd
        http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-4.1.xsd
        http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.1.xsd
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
 
  <!-- Enable annotation-based Spring MVC controllers (eg: @Controller annotation) -->
  <mvc:annotation-driven/>
   
  <!-- Classpath scanning of @Component, @Service, etc annotated class -->
  <context:component-scan base-package="com.glomozda.machinerepair" />
   
  <!-- EntityManagerFactory -->
  <beans:bean class="org.springframework.orm.jpa.LocalContainerEntityManagerFactoryBean" id="entityManagerFactory">
    <beans:property name="persistenceUnitName" value="persistenceUnit"/>
    <beans:property name="dataSource" ref="dataSource"/>
  </beans:bean>
   
  <!-- Transaction Manager -->
  <beans:bean class="org.springframework.orm.jpa.JpaTransactionManager" id="transactionManager">
    <beans:property name="entityManagerFactory" ref="entityManagerFactory"/>
  </beans:bean>
  
  <!-- Password Encoder -->
  <beans:bean class="org.springframework.security.crypto.bcrypt.BCryptPasswordEncoder" id="encoder"/>
   
  <!-- Enable @Transactional annotation -->
  <tx:annotation-driven/>
  
    <!-- Create a proxy to generate session-scoped paging information -->
  <beans:bean id="sessionScopeInfo" 
  	class="com.glomozda.machinerepair.controller.SessionScopeInfo" scope="session">  	
    <aop:scoped-proxy/>
  </beans:bean>
 
</beans:beans>